@{
    ViewData["Title"] = "Về Chúng Tôi";
}

<!-- bradcam_area_start  -->
<div class="bradcam_area breadcam_bg overlay d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Về Chúng Tôi</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area_end  -->
<!-- reson_area_start  -->
<div class="reson_area section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb-55">
                    <h3><span>Lý Do Giúp Đỡ</span></h3>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single_reson">
                    <div class="thum">
                        <div class="thum_1">
                            <img src="img/help/1.png" alt="">
                        </div>
                    </div>
                    <div class="help_content">
                        <h4>Quyên Góp Quỹ</h4>
                        <p>Lorem ipsum, hay lipsum như nó thường được gọi, là văn bản mẫu được sử dụng trong việc trình bày bản in.</p>
                        <a href="#" class="read_more">Đọc Thêm</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_reson">
                    <div class="thum">
                        <div class="thum_1">
                            <img src="img/help/2.png" alt="">
                        </div>
                    </div>
                    <div class="help_content">
                        <h4>Quyên Góp Quỹ</h4>
                        <p>Lorem ipsum, hay lipsum như nó thường được gọi, là văn bản mẫu được sử dụng trong việc trình bày bản in.</p>
                        <a href="#" class="read_more">Đọc Thêm</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_reson">
                    <div class="thum">
                        <div class="thum_1">
                            <img src="img/help/3.png" alt="">
                        </div>
                    </div>
                    <div class="help_content">
                        <h4>Quyên Góp Quỹ</h4>
                        <p>Lorem ipsum, hay lipsum như nó thường được gọi, là văn bản mẫu được sử dụng trong việc trình bày bản in.</p>
                        <a href="#" class="read_more">Đọc Thêm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- reson_area_end  -->
<!-- latest_activites_area_start  -->
<div class="latest_activites_area">
    <div class="video_bg_1 video_activite d-flex align-items-center justify-content-center">
        <a class="popup-video" href="https://www.youtube.com/watch?v=MG3jGHnBVQs">
            <i class="flaticon-ui"></i>
        </a>
    </div>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-7">
                <div class="activites_info">
                    <div class="section_title">
                        <h3>
                            <span>Xem Các Hoạt Động Mới Nhất</span><br>
                            Của Chúng Tôi
                        </h3>
                    </div>
                    <p class="para_1">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore dolore magna aliqua. enim minim veniam, quis nostrud exercitation.</p>
                    <p class="para_2">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore dolore magna aliqua. enim minim veniam, quis nostrud exercitation. tempor incididunt ut labore dolore magna aliqua. enim minim veniam, quis nostrud exercitation.</p>
                    <a href="#" data-scroll-nav="1" class="boxed-btn4">Đóng Góp Ngay</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- latest_activites_area_end  -->
<!-- counter_area_start  -->
<div class="counter_area pt-120">
    <div class="container">
        <div class="counter_bg overlay">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single_counter d-flex align-items-center justify-content-center">
                        <div class="icon">
                            <i class="flaticon-calendar"></i>
                        </div>
                        <div class="events">
                            <h3 class="counter">120</h3>
                            <p>Sự Kiện Hoàn Thành</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single_counter d-flex align-items-center justify-content-center">
                        <div class="icon">
                            <i class="flaticon-heart-beat"></i>
                        </div>
                        <div class="events">
                            <h3 class="counter">120</h3>
                            <p>Sự Kiện Hoàn Thành</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single_counter d-flex align-items-center justify-content-center">
                        <div class="icon">
                            <i class="flaticon-in-love"></i>
                        </div>
                        <div class="events">
                            <h3 class="counter">120</h3>
                            <p>Sự Kiện Hoàn Thành</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single_counter d-flex align-items-center justify-content-center">
                        <div class="icon">
                            <i class="flaticon-hug"></i>
                        </div>
                        <div class="events">
                            <h3 class="counter">120</h3>
                            <p>Sự Kiện Hoàn Thành</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- counter_area_end  -->
<!-- our_volunteer_area_start  -->
<div class="our_volunteer_area section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb-55">
                    <h3><span>Những Tình Nguyện Viên Của Chúng Tôi</span></h3>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single_volenteer">
                    <div class="volenteer_thumb">
                        <img src="img/volenteer/1.png" alt="">
                    </div>
                    <div class="voolenteer_info d-flex align-items-end">
                        <div class="social_links">
                            <ul>
                                <li>
                                    <a href="#"> <i class="fa fa-facebook"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-pinterest"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-linkedin"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-twitter"></i> </a>
                                </li>
                            </ul>
                        </div>
                        <div class="info_inner">
                            <h4>Trần Quang Hà</h4>
                            <p>Nhà Hảo Tâm</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_volenteer">
                    <div class="volenteer_thumb">
                        <img src="img/volenteer/2.png" alt="">
                    </div>
                    <div class="voolenteer_info d-flex align-items-end">
                        <div class="social_links">
                            <ul>
                                <li>
                                    <a href="#"> <i class="fa fa-facebook"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-pinterest"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-linkedin"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-twitter"></i> </a>
                                </li>
                            </ul>
                        </div>
                        <div class="info_inner">
                            <h4>Đoàn Hải Nam</h4>
                            <p>Tình Nguyện Viên</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_volenteer">
                    <div class="volenteer_thumb">
                        <img src="img/volenteer/3.png" alt="">
                    </div>
                    <div class="voolenteer_info d-flex align-items-end">
                        <div class="social_links">
                            <ul>
                                <li>
                                    <a href="#"> <i class="fa fa-facebook"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-pinterest"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-linkedin"></i> </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-twitter"></i> </a>
                                </li>
                            </ul>
                        </div>
                        <div class="info_inner">
                            <h4>Trần Ngọc Sơn</h4>
                            <p>Trưởng Nhóm Tình Nguyện</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- our_volunteer_area_end  -->
